<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Bootstrap HTML Template</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h3 class="my-4">Complete Body</h3>
    <ul>
      <li><a href="/complete-body/example/1">Example 1</a></li>
      <li><a href="/complete-body/example/2">Example 2</a></li>
     
    </ul>
  </div>


  <div class="container">
    <h3 class="my-4">Paramter Value</h3>
    <ul>
      <li><a href="/paramtervalue/example/1">Example 1</a></li>
     
    </ul>
  </div>


  <div class="container">
    <h3 class="my-4">Paramter Key and Value</h3>
    <ul>
      <li><a href="/paramterkeyvalue/example/1">Example 1</a></li>
     
    </ul>
  </div>




  <div class="container">
    <h3 class="my-4">Custom Request</h3>
    <ul>
      <li><a href="/custom-request/example/1">Example 1</a></li>
     
    </ul>
  </div>


  <div class="container">
    <h3 class="my-4">Custom Request Edit</h3>
    <ul>
      <li><a href="/custom-request-edit/example/1">Example 1</a></li>
      <li><a href="/custom-request-edit/example/2">Example 2</a></li>
     
    </ul>
  </div>



  <div class="container">
    <h3 class="my-4">RSA</h3>
    <ul>
      <li><a href="/RSA/example/1">Example 1</a></li>
    
     
    </ul>
  </div>





  <div class="container">
    <h3 class="my-4">Demo</h3>
    <ul>
      <li><a href="/demo">Example 1</a></li>
    
     
    </ul>
  </div>


  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
